body
{
    margin:0px;
    font: normal 12px/20px 'Open Sans',sans-serif;
}

body p{
    font-size:2em;
}

.header
{
    background-color: rgb(3, 81, 88);
    overflow: auto;
    width: 100%;
}

.header span
{
    color: white;
    font-size: 3em;
    width: 200px;
    float: left;
    margin-top: 26px;
}

.header div
{
    width: 150px; 
    padding:16px;
    text-align:center;
    display:inline-block;
    font-size: 3em;
    border: 1px solid;
    border-radius:5px;
    background-color: white;
    float:right;
    margin:5px;
}

.header div img
{
    width: 50px;
    height: 50px;
}

.header div img:hover
{
    cursor: pointer;
}

#dashboard
{
    margin: 100px auto;
    width: 40%;
    min-width: 200px;
    font-size: 2em;
}

#dashboard .alert
{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(26, 157, 152);
    margin-bottom: 30px;
    height:50px;
    color:white;
}

#dashboard .alert div
{
    margin-top:13px;
}

#dashboard .alert :hover
{
    cursor:pointer;
}

#dashboard .new-msg
{
    background: red;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    top: -71px;
    left: 22px;
    float:right;
}

#dashboard .new-msg div
{
    position: relative;
    top: -2px;
}

.row
{
    width: 50%;
    height: auto;
    margin:0 auto;
}

.box{
    max-width: 400px;
    min-width: 60px;
    padding:10px;
    border-radius: 4px;
    border: 1px solid black;
    margin-bottom: 5px;
    font-size:2em;
}
.me
{
    background: rgb(245,245,220);
    margin-left:58%;
}

.their
{
    background: rgb(240,255,240);
}

.dateTime
{
    font-size: small;
    color: grey;
}

.send-msg-box
{
    position: fixed;
    bottom: 0px;
    left:0px;
    width: 100%;
    padding: 25px;
    background-color: rgb(3, 81, 88);
}

.send-msg-box div
{
    margin:0 auto;
    width:40%;
}

.send-msg-box div textarea
{
    width: 90%;
}

#conversation
{
    margin-bottom: 160px;
}