body
{
    margin:0px;
    font: normal 12px/20px 'Open Sans',sans-serif;
}

body p, label, select {
    font-size:2em;
}
body a {
    color:#FFFFFF;
    text-decoration: none;
}

.header
{
    background-color: #006064;
    color:#FFFFFF;
    font-size: 4em;
    margin-bottom:200px;
    line-height: 53px;
}

.header span {
    float:right;
    font-size: 0.5em;
    margin-right: 10px;
}

.menu {
    margin-left: 10px;
}

.menu a {
    font-size: 0.5em;
}

.form-panel{
    width:30%;
    min-width: 200px;
    border: 2px solid #004D40;
    border-radius: 8px;
    margin: 0 auto; 
    padding: 10px;
    background-color: #B2DFDB;
    text-align:center;
}

.form-panel input {
    margin:5px 4%;
    width:90%;
    height:40px;
}

input
{
    font-size: 2em;
}

.btn {
    background-color: #FFFFFF;
    border:1px solid;
    border-radius:5px;
    width:150px !important;
}

.btn:hover
{
    background-color: #0097A7;
}

#dashboard
{
    margin: 100px auto;
    width: 40%;
    min-width: 200px;
    font-size: 2em;
}

#dashboard .alert
{
    border-radius: 5px;
    padding: 5px;
    background-color: #0097A7;
    margin-bottom: 30px;
    height:50px;
    color:white;
}

#dashboard .alert div
{
    margin-top:13px;
}

#dashboard .alert :hover
{
    cursor:pointer;
}

#dashboard .new-msg
{
    background: red;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    top: -71px;
    left: 22px;
    float:right;
}

#dashboard .new-msg div
{
    position: relative;
    top: -2px;
}

.row
{
    width: 50%;
    height: auto;
    margin:0 auto;
}

.box{
    max-width: 400px;
    min-width: 60px;
    padding:10px;
    border-radius: 4px;
    border: 1px solid black;
    margin-bottom: 5px;
    font-size:2em;
}
.me
{
    background: rgb(245,245,220);
    margin-left:58%;
}

.their
{
    background: rgb(240,255,240);
}

.dateTime
{
    font-size: small;
    color: grey;
}

.send-msg-box
{
    position: fixed;
    bottom: 0px;
    left:0px;
    width: 100%;
    padding: 25px;
    background-color: rgb(3, 81, 88);
}

.send-msg-box div
{
    margin:0 auto;
    width:40%;
}

.send-msg-box div textarea
{
    width: 90%;
}

#conversation
{
    margin-bottom: 160px;
}

.slots{
    margin: 100px auto;
    width: 40%;
    min-width: 200px;
    font-size: 2em;
}

.slot{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(26, 157, 152);
    margin-bottom: 30px;
    height:50px;
    color:white;
}